col-md-4{
  margin: 1em;
}
.col-md-4:hover{
  transform: scale(1.1);
}
.col-md-4 {
  transition: transform 0.2s ease;
}
.col-md-4 {
  box-shadow: 0 2px 3px 0 rgba(22, 22, 26, 0);
  border-radius: 0;
  border: 0;
  margin-top: 10vh;
}